<ion-header>
  <ion-toolbar>
    <ion-title>
      OpenALPR Sample
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <!-- Button for using the camera to get an image. -->
  <ion-button
    expand="full"
    fill="solid"
    color="primary"
    (click)="scan('camera')"
  >
    <ion-icon name="qr-scanner"></ion-icon>
    &nbsp; Take picture
  </ion-button>

  <!-- Button for using the photolibrary to get an image. -->
  <ion-button expand="full" fill="solid" color="dark" (click)="scan('library')">
    <ion-icon name="images"></ion-icon>
    &nbsp; Select picture
  </ion-button>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-list>
      <ion-item>
        <ion-label>Country</ion-label>

        <!-- Field to select a country to check license plates for.-->
        <ion-select
          value="{{ getCountry() }}"
          (ionChange)="setCountry($event.target.value)"
        >
          <ion-select-option
            *ngFor="let country of countries"
            [value]="country.value"
            >{{ country.label }}</ion-select-option
          >
        </ion-select>
      </ion-item>
    </ion-list>
  </ion-toolbar>
</ion-footer>
